.Profile-container {
  width: 100%;
}

.Profile-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: #2f5cfa;
}

.Profile-nav > nav > a {
  color: #2f5cfa;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
}
